.body {
    color: #706b6b;
    font-family: 'Montserrat', sans-serif;
}

.frame {
    /* border: 1px dashed #9747FF; */
    width: 578px;
    height: 794px;
    position: relative;
    background-color: #efeef0;
    padding: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

.container {
    width: 370px;
    height: 326px;
    top: 85px;
    left: 104px;
    position: absolute;
    /* padding: 10px 0px 10px 0px; */
    /* gap: 0px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px; */
    background-color: white;
}

.option {
    display: flex;
    align-items: center;
    left: px;
    position: absolute;
    width: 370px;
    height: 42px;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
}

.option-text {
    flex: 1;
    padding-left: 10px;
    color: black
}

.checkmark1 {
    position: absolute;
    right: 20px;
    height: 23px;
    width: 23px;
    background-color: #fffdfd;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}

.linecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    position: absolute;
    width: 340px;
    height: 20px;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
}

hr.new {
    width: 370px;
    border: 1px solid #cdcdcd;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    background-color: white;
    position: absolute;
}

.btn {
    width: 340px;             /* Set width of the buttons */
    height: 40px; 
    border: none;
    position: absolute;       /* Ensure positioning with top and left works */
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #ffce22;
    border-radius: 4px;
}