body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    border: 1px dashed #9747FF; 
    height: 200px;         
    width: 380px;           
    background-color: #fff; 
    position: relative;
}

.btn1, .btn2, .btn3 {
    width: 340px;            
    height: 40px;            
    border: none;
    position: absolute;       
    font-family: 'Montserrat', sans-serif; 
    transition: background-color 0.3s ease; 
}

.btn1 {
    top: 20px;                
    left: 20px;               
    background-color: #FFCE22; 
}

.btn2 {
    top: 80px;               
    left: 20px;               
    background-color: #ffd84d; 
}

.btn3 {
    top: 140px;               
    left: 20px;               
    background-color: #FFCE22; 
}

.btn:hover {
    background-color: #0056b3;
}
