body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    border: 1px dashed #9747FF;
    width: 65px;
    height: 425px;
    position: relative;
    background-color: #efeef0;
    padding: 0;
}

.checkmark1 {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}

.checkmark1::after {
    content: "";
    display: none;
    width: 16px;
    height: 6px;
    border-left: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    transform: rotate(315deg);
    
}

.checkmark1:hover {
    border-color: #BDBDBD;
}

.checkmark1:hover::after {
    display: block;
}


.checkmark2 {
    position: absolute;
    top: 65px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border: 1px solid #BDBDBD; 
    border-radius: 8px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.checkmark2::after {
    content: "";
    display: block;
    width: 16px;
    height: 6px;
    border-left: 1px solid #E3E3E3; 
    border-bottom: 1px solid #E3E3E3;
    transform: rotate(-45deg);
    position: absolute;
    /* top: 4px;
    left: 7px; */
}

.checkmark2.active::before {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    border-left: 1px solid #008000; 
    border-bottom: 1px solid #008000;
    transform: rotate(-45deg);
    position: absolute;
    top: 4px;
    left: 7px;
}

.checkmark2:active {
   background-color: #ffffff; 
   box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}

.checkmark2:active::after {
    border-left: 1px solid #878787; 
    border-bottom: 1px solid #878787;
}

.checkmark3 {
    position: absolute;
    top: 110px; 
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3);
}


.checkmark3::after {
    content: "";
    display: block;
    width: 16px;
    height: 6px;
    border-left: 1px solid #878787;
    border-bottom: 1px solid #878787;
    transform: rotate(-45deg);
    position: absolute;
    transition: all 0.3s ease;
}

.checkmark3:active {
    background-color: #5087F8;
    box-shadow: none;
}

.checkmark3:active::after {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.checkmark4 {
    position: absolute;
    top: 155px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #2469F6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}

.checkmark4::after {
    content: "";
    width: 16px;
    height: 6px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(315deg);
}

.checkmark4:hover {
    border-color: #BDBDBD;
    background-color: #5087F8;
}

.checkmark4:hover::after {
    display: block;
}

.checkmark5 {
    position: absolute;
    top: 200px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #2469F6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}

.checkmark5::after {
    content: "";
    width: 16px;
    height: 6px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(315deg);
}

.checkmark5:hover {
    border-color: #BDBDBD;
    background-color: #5087F8;
}

.checkmark5:hover::after {
    display: block;
}

.checkmark6 {
    position: absolute;
    top: 245px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #5087F8;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.checkmark6::after {
    content: "";
    display: block;
    width: 16px;
    height: 6px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
    position: absolute;
}

.checkmark6.active::before {
    content: "";
    display: block;
    width: 10px;
    height: 5px;
    border-left: 1px solid #008000;
    border-bottom: 1px solid #008000;
    transform: rotate(-45deg);
    position: absolute;
    top: 4px;
    left: 7px;
}

.checkmark6:active {
   background-color: #2469F6; 
   box-shadow: 0 0 0 3px #6767aa4d;
}

.checkmark6:active::after {
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.checkmark7 {
    position: absolute;
    top: 290px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #2469F6;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 3px #6767aa4d;
    transition: all 0.3s ease;
}

.checkmark7::after {
    content: "";
    display: block;
    width: 16px;
    height: 6px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
    position: absolute;
}

.checkmark7:hover {
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    box-shadow: none;
    
}

.checkmark7:hover::after {
    display: block;
    border-left: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.checkmark8 {
    position: absolute;
    top: 335px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}

.checkmark8::after {
    content: "";
    display: none;
    width: 16px;
    height: 6px;
    border-left: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    transform: rotate(315deg);
}

.checkmark8:hover::after {
    display: block;
}

.checkmark9 {
    position: absolute;
    top: 380px;
    left: 20px;
    height: 25px;
    width: 25px;
    background-color: #fffdfd;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 6px;
}
